In [1]:
#import
import pandas as pd

In [2]:

#    Things to change to replace/format a column

#    1) change file location to be read from
#    2) edit the change_formatting function
#    3) change the word_index value (column index to be changed)
#    4) change names of Columns
#    5) change FileName

In [11]:

df = pd.read_csv('C:/Users/MANAS/Downloads/Donation.csv')

df

,donationId,donor,receiver,delivery,category,status,amount,date
0,DO10000,D1087444,R320238,E250864,Money,delivered,607,10-11-2020
1,DO10001,D1087444,R320103,E250896,Meals,delivered,1,20-02-2020
2,DO10002,D1087308,R320109,E250880,Clothes,delivered,1,12-04-2020
3,DO10003,D1087422,R320121,E250816,Money,active,386,11-10-2020
4,DO10004,D1087382,R320208,E250896,Meals,delivered,1,24-10-2020
...,...,...,...,...,...,...,...,...
215,DO10215,D1087344,R320244,E250846,Meals,delivered,1,11-01-2021
216,DO10216,D1087356,R320202,E250838,Money,delivered,1183,30-09-2020
217,DO10217,D1087448,R320190,E250856,Clothes,active,1,23-04-2020
218,DO10218,D1087330,R320241,E250880,Meals,delivered,1,24-02-2020
219,DO10219,D1087358,R320127,E250884,Money,delivered,212,28-08-2020

In [12]:
mylist = df.values.tolist()

In [13]:
def change_formatting(word):
    dd,mm,yy = word.split('-')
    
#     #if the date format is already correct then don't swap
    if(int(yy) > 999):
        return yy+"-"+mm+"-"+dd
    return dd+"-"+mm+"-"+yy


change_formatting('16-10-1999')

'1999-10-16'

In [14]:
import random

word_index = 7

for i in mylist:
    i[7] = change_formatting(i[7])

In [9]:
print(mylist[1][2])

7555836595

In [8]:
def email_formatting(name,phone,word):
    _,site = word.split('@')
    return name+str(phone)+'@'+site

for i in mylist:
    i[10] = email_formatting(i[2],i[1],i[10])

In [15]:
#change the names of the columns

df2 = pd.DataFrame(mylist,columns=['donationId','donor','receiver','delivery','category','status','amount','date'])

In [16]:
df2

,donationId,donor,receiver,delivery,category,status,amount,date
0,DO10000,D1087444,R320238,E250864,Money,delivered,607,2020-11-10
1,DO10001,D1087444,R320103,E250896,Meals,delivered,1,2020-02-20
2,DO10002,D1087308,R320109,E250880,Clothes,delivered,1,2020-04-12
3,DO10003,D1087422,R320121,E250816,Money,active,386,2020-10-11
4,DO10004,D1087382,R320208,E250896,Meals,delivered,1,2020-10-24
...,...,...,...,...,...,...,...,...
215,DO10215,D1087344,R320244,E250846,Meals,delivered,1,2021-01-11
216,DO10216,D1087356,R320202,E250838,Money,delivered,1183,2020-09-30
217,DO10217,D1087448,R320190,E250856,Clothes,active,1,2020-04-23
218,DO10218,D1087330,R320241,E250880,Meals,delivered,1,2020-02-24
219,DO10219,D1087358,R320127,E250884,Money,delivered,212,2020-08-28

In [17]:
fileName = 'Donation'
df2.to_csv(fileName+'.csv', index = True)